@import "compass/css3";
@import "compass/utilities";
@import "compass/typography";
@import "partials/colors";
@import "partials/typography";


// Hide edit tabs from homepage

.front {
  .tabs {
    display: none;
  }
}

// Allow logo to display full-width

#header #logo img {
  max-width: 100%;
}

// Removing bottom margin from main navigation

#main-menu {
  margin-bottom: 0;
}
