/* http://www.stanford.edu/group/webdev/color/ */
$black: #3F3C30;
$beige: #f2f1eb;
$blue: #28558c;
$lightblue: #a6b9c7;
$mint: #C7D1C5;
$cardinal: #8c1515;
$grey: #3f3c30;
$lightgrey: #eeeeee;
$translucent: rgba(0, 0, 0, 0.1);
$white: #fbfbf9;
$light_olive: #89A85E;
$olive: #5e8d6c;

