body {
  font-size: 16px;
}

a {transition: all 0.25s ease;}

.navbar,
.navbar-inner, {
  background-color: $olive;
  border-radius: 5px;
  background-clip: border-box; 
  .nav li {
    a,
    a:hover,
    &.dropdown.open .dropdown-toggle {
      background-color: transparent;
      color: $white;
      font-size: 1.1em;
      font-weight: 200;
      padding: .5em;
    }
    a:hover {
      background-color: $light-olive;
    }
    li a,
    li a:hover {
      padding: .25em;
    }
  }
  .nav li.active,
  .nav li.active-trail {
    a,
    a:hover {
      background-color: $light-olive;
      border-radius: 5px;
      background-clip: border-box; 
      color: $white;
    }
    .li a,
    .li a:hover {

    }
  }
  // Change drop-down caret color to white
  .nav li.dropdown .dropdown-toggle .caret,
  .nav li.dropdown.open .dropdown-toggle .caret,
  .nav li.dropdown a:hover .caret {
    border-top-color: $white;  
    border-bottom-color: $white;  
  }
  ul.dropdown-menu {
    border-radius: 5px;
    background-color: $olive;
    padding: 0;
    li,
    li.active-trail,
    li.active {
      a {
        background-color: transparent;
        color: $white !important;
        padding: .25em;
      }
      a:hover {
        background-color: $light-olive !important; 
      }
    }
  }
}

.btn.btn-navbar,
.btn.btn-navbar:active {
  @media(max-width:767px) {
    background-color: $light-olive;
  }
}

//Subheaders

h1,h2,h3,h4,h5,h6 {
  color: $olive;
}

.block {
  h1,h2,h3,h4,h5,h6 {
    border-bottom: 2px solid $olive;
    padding-bottom: 3px;
  }
  h2 {
    font-size: 1.4em;
  }
}

// Carousel

.view.carousel .carousel-caption {
  background: rgba(0,0,0,0.5);
  h2 {
    color: $white;
    border-bottom: none;
    @media(max-width:767px){
      color: $black;
    }
  }
  &.carousel-light {
      background: rgba(255,255,255,0.5);
      color: $black;
    h2 {
      color: $black;
    }
  }
}

.carousel-controls,
.carousel-dots {
  display: none;
}
