/* http://www.stanford.edu/group/webdev/color/ */
/* line 4, ../sass/partials/_typography.scss */
.navbar .nav li a {
  color: #fbfbf9;
}

/* line 9, ../sass/style.scss */
.navbar {
  background-color: #709d80;
}
/* line 11, ../sass/style.scss */
.navbar li a {
  color: #fbfbf9;
}

/* line 19, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  color: #709d80;
}

/* line 24, ../sass/style.scss */
.block h1, .block h2, .block h3, .block h4, .block h5, .block h5 {
  border-bottom: 2px solid #709d80;
  padding-bottom: 3px;
}
