/* http://www.stanford.edu/group/webdev/color/ */
/* line 1, ../sass/partials/_typography.scss */
body {
  font-size: 16px;
}

/* line 5, ../sass/partials/_typography.scss */
a {
  transition: all 0.25s ease;
}

/* line 8, ../sass/partials/_typography.scss */
.navbar,
.navbar-inner {
  background-color: #5e8d6c;
  border-radius: 5px;
  background-clip: border-box;
}
/* line 15, ../sass/partials/_typography.scss */
.navbar .nav li a,
.navbar .nav li a:hover, .navbar .nav li.dropdown.open .dropdown-toggle,
.navbar-inner .nav li a,
.navbar-inner .nav li a:hover,
.navbar-inner .nav li.dropdown.open .dropdown-toggle {
  background-color: transparent;
  color: #fbfbf9;
  font-size: 1.1em;
  font-weight: 200;
  padding: .5em;
}
/* line 22, ../sass/partials/_typography.scss */
.navbar .nav li a:hover,
.navbar-inner .nav li a:hover {
  background-color: #89a85e;
}
/* line 26, ../sass/partials/_typography.scss */
.navbar .nav li li a,
.navbar .nav li li a:hover,
.navbar-inner .nav li li a,
.navbar-inner .nav li li a:hover {
  padding: .25em;
}
/* line 33, ../sass/partials/_typography.scss */
.navbar .nav li.active a,
.navbar .nav li.active a:hover,
.navbar .nav li.active-trail a,
.navbar .nav li.active-trail a:hover,
.navbar-inner .nav li.active a,
.navbar-inner .nav li.active a:hover,
.navbar-inner .nav li.active-trail a,
.navbar-inner .nav li.active-trail a:hover {
  background-color: #89a85e;
  border-radius: 5px;
  background-clip: border-box;
  color: #fbfbf9;
}
/* line 44, ../sass/partials/_typography.scss */
.navbar ul.dropdown-menu,
.navbar-inner ul.dropdown-menu {
  border-radius: 5px;
  background-color: #5e8d6c;
  padding: 0;
}
/* line 51, ../sass/partials/_typography.scss */
.navbar ul.dropdown-menu li a,
.navbar ul.dropdown-menu li.active-trail a,
.navbar ul.dropdown-menu li.active a,
.navbar-inner ul.dropdown-menu li a,
.navbar-inner ul.dropdown-menu li.active-trail a,
.navbar-inner ul.dropdown-menu li.active a {
  background-color: transparent;
  color: #fbfbf9 !important;
  padding: .25em;
}
/* line 56, ../sass/partials/_typography.scss */
.navbar ul.dropdown-menu li a:hover,
.navbar ul.dropdown-menu li.active-trail a:hover,
.navbar ul.dropdown-menu li.active a:hover,
.navbar-inner ul.dropdown-menu li a:hover,
.navbar-inner ul.dropdown-menu li.active-trail a:hover,
.navbar-inner ul.dropdown-menu li.active a:hover {
  background-color: #89a85e !important;
}

/* line 66, ../sass/partials/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  color: #5e8d6c;
}

/* line 71, ../sass/partials/_typography.scss */
.block h1, .block h2, .block h3, .block h4, .block h5, .block h6 {
  border-bottom: 2px solid #5e8d6c;
  padding-bottom: 3px;
}
/* line 75, ../sass/partials/_typography.scss */
.block h2 {
  font-size: 1.4em;
}

/* line 82, ../sass/partials/_typography.scss */
.view.carousel .carousel-caption {
  background: rgba(0, 0, 0, 0.5);
}
/* line 84, ../sass/partials/_typography.scss */
.view.carousel .carousel-caption h2 {
  color: #fbfbf9;
  border-bottom: none;
}
/* line 88, ../sass/partials/_typography.scss */
.view.carousel .carousel-caption.carousel-light {
  background: rgba(255, 255, 255, 0.5);
  color: #3f3c30;
}
/* line 91, ../sass/partials/_typography.scss */
.view.carousel .carousel-caption.carousel-light h2 {
  color: #3f3c30;
}

/* line 98, ../sass/partials/_typography.scss */
.carousel-controls,
.carousel-dots {
  display: none;
}

/* line 11, ../sass/style.scss */
.front .tabs {
  display: none;
}

/* line 18, ../sass/style.scss */
#header #logo img {
  max-width: 100%;
}

/* line 24, ../sass/style.scss */
#main-menu {
  margin-bottom: 0;
}
